.pill{
    border-radius: 30px;
    opacity: .5;
}
.btn-circle{
    text-align: center;
    width: 75px;
    padding: 0;
    transform: scale(.75);
    height: 75px;
}
.card-body.main{
    width: 93%;
}
.comments{
    padding-bottom: 70px;
}
.comment-section{
    top: -65px;
    position: relative;
    width:93%;
}
.back{
    cursor: pointer;
    text-decoration: underline;
}
.userInfo{
    position: absolute;
    transform: translateY(-50%);
    right: 30px;
    width: 100%;
    a{
        text-decoration: none;
        color: #000;
    }
}
@media screen and (max-width:768px) {
    .userInfo{
        right: 10%;
        width: 80%;
    }
    .comment-section{
        width: 86%;
        margin: auto;
    }
}
.questionBody{
    img{
        width: 100%;
    }
    pre{
        background-color: rgba(0,0,0,.1);
        padding: 10px;
    }
}